<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://visualstudiofunctionappyc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bde7cd5e-7f45-4ba0-abe0-398fcad379d8/resourcegroups/RG-USA-VS/providers/Microsoft.Web/sites/VisualStudioFunctionappYC</ResourceId>
    <UserName>$VisualStudioFunctionappYC</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://visualstudiofunctionappyc.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>